.plotBox {
 padding-bottom: 20px;
}

.citation {
  margin: 0 auto 0 auto;
  max-width: 50%;
  vertical-align: center;
  font-size: 1rem;
  padding-bottom: 10rem;
}

button {
  margin: 1rem 1rem;
}

.menus {
   vertical-align: center;
   display: inline-block;
   margin-bottom: 0;
}

.plotTitle {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}

.citationDHS {
  margin-bottom: 2rem;
  font-size: 0.75rem;
  text-align: center;
}

.downloadButton {
  margin: 1rem 1rem;
}

.newQueryButton {
  display: relative;
}

.dropDown {
  display: inline-flex;
}
