.plotBox {
  display: relative;
  margin: 2rem 2rem;
}

.plotTitle {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: left;
}

.citationDHS {
  margin-top: 10px;
  margin-bottom: 10px;
}

.downloadButton {
  margin: 1rem 1rem;
}
