.citation {
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
}

.container-fluid {
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto 0 auto;
}

.dropDown {
  margin: 2rem auto 2rem auto;
  display: relative;
  float: right;
}

.plotTitle {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 0.9rem;
  margin-top: 2rem;
}


.downloadButton {
 float: center;
 margin-bottom: 2rem;
}
