
.dropDown {
  display: inline-block;
  max-width: 175px;
  min-width: 175px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.instructions {
  display: inline-block;
  float: left;
  text-align: left;
  font-family: Arial, Verdana, Courier;
  font-size: 1.2rem;
}

.instructionsDiv {
  margin-top: 5rem;
}

.menus {
   vertical-align: center;
   display: inline-block;
   margin-bottom: 0;
}

.container {
  display: inline-block;
  vertical-align: center;
  margin: 0 auto 0 auto;
  max-width: 800px;
  min-width: 600px;
}

.graphButton {
  margin: 1rem 1rem;
}

.plotBox {
 padding-bottom: 20px;
}

.citation {
  margin: 0 auto 0 auto;
  max-width: 50%;
  vertical-align: center;
  font-size: 1rem;
  padding-bottom: 10rem;
}

button {
  margin: 1rem 1rem;
}
