.container-fluid {
  min-width: 800px;
  max-width: 1000px;
}

.dropDown {
  display: inline-block;
  max-width: 175px;
  min-width: 175px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: relative
}

.instructions {
  display: inline-block;
  float: left;
  text-align: left;
  font-family: Arial, Verdana, Courier;
  font-size: 1.2rem;
}

.instructionsDiv {
  margin-top: 5rem;
}

.graphButton {
  margin: 1rem 1rem;
}

.plotDiv{
  margin: 2rem 2rem;
}
