
.dropDown {
  display: inline-block;
  max-width: 175px;
  min-width: 175px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.instructions {
  display: inline-block;
  float: left;
  text-align: left;
  font-family: Arial, Verdana, Courier;
  font-size: 1.2rem;
}

.instructionsDiv {
  margin-top: 5rem;
}

.graphButton {
  margin: 1rem 1rem;
}

.citation {
  margin: 0 auto 0 auto;
  max-width: 50%;
  text-align: center;
  font-size: 1rem;
}

.downloadButton{
  margin: 1rem 1rem;
}

.queryButton {
}
