.jumbotron {
 background-image: url(../images/children.jpg);
 background-repeat: no-repeat;
 background-size: 100%;
 color: white;
 text-shadow: 2px 2px gray;
 margin-top: 0;
 margin-bottom: 0.5rem;
 height: 100vh;
}
