
.graphic {
  max-width: 400px;
  min-width: 300px;
  margin-top: 1rem;
}

a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.7rem;
}

.externalLinks {
  text-align: center;
}

.container {
  display: table;
  width: 100%;
  box-sizing: border-box;
}

aside, .col-md-6 {
  display: table-cell;
  vertical-align: top;
  height: 100%;
  margin-top: 2rem;
  padding-top: 20px;
}
