
.maternalHealth {
  margin-top: 6rem;
  max-width: 800px;
  min-width: 600px;
}

.graphic {
  min-width: 250px;
  max-width: 300px;
  margin: 0 auto 0 auto;
}

.jumbotron-mmr {
   background-image: url(../images/checkup.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 100%;
   color: white;
   margin-top: 4rem;
   text-shadow: 2px 2px gray;
}

a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.7rem;
}

.externalLinks {
  text-align: center;
}
